<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <elgentos_aicategoryhero>
            <general>
                <enabled>1</enabled>
                <api_key></api_key>
                <organization_id></organization_id>
            </general>
        </elgentos_aicategoryhero>
    </default>
</config>
