<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route frontName="elgentos_ai" id="elgentos_ai">
            <module before="Magento_Backend" name="Elgentos_AiCategoryHeroImages"/>
        </route>
    </router>
</config>
