<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="elgentos" translate="label" sortOrder="200">
            <label>Elgentos</label>
        </tab>
        <section id="elgentos_aicategoryhero" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>AI Category Hero Images</label>
            <tab>elgentos</tab>
            <resource>Elgentos_AiCategoryHeroImages::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_key" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>OpenAI API Key</label>
                    <comment>Your OpenAI API key</comment>
                </field>
                <field id="organization_id" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>OpenAI Organization ID</label>
                    <comment>Your OpenAI Organization ID (optional)</comment>
                </field>
            </group>
        </section>
    </system>
</config>
